<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || "The Middleman" %></title>
    <%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" %>
    <%= stylesheet_link_tag "normalize", "all", "editor" %>
    <%= javascript_include_tag  "deps", "editor" %>
  </head>

  <body class="<%= page_classes %>">

    <div class="top-left">
      <img src="assets/images/dante-logo.png" alt="dante logo" width="41" >
    </div>
    <div class="top-right">
      <a class="github tooltip-left" data-tooltip="Fork me on github" href="https://github.com/michelson/dante"><i class="fa fa-github"></i></a>
    </div>

    <%= yield %>

  </body>
</html>