<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>Dante Wysiwyg Specs</title>
    <link rel="stylesheet" href="//code.jquery.com/qunit/qunit-1.15.0.css">
    <%= stylesheet_link_tag "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" %>
    <%= stylesheet_link_tag "normalize", "all", "editor" %>
    <%= javascript_include_tag  "deps", "editor" %>
  </head>

  <body class="<%= page_classes %>">

    <%= yield %>

    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
    <script src="//code.jquery.com/qunit/qunit-1.15.0.js"></script>
    <%= yield_content :js %>

  </body>
</html>